<section class="text-center">
    <div class="animation-area">
      <ul class="animated-hero-bg">
        <div class="text-wrapper text-center">
          <a href="/">
            <button class="hero-button">Explore</button>
          </a>
        </div>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
</section>