<!DOCTYPE html>
<html lang="en">
  <!-- head -->
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/carousel.css">
  </head>
  <!-- Body -->
  <body>
    <!-- navbar -->
    <nav class="navbar top-navbar sticky-top flex-md-nowrap  shadow">
      <a class="navbar-brand col-md-3 col-lg-2 " href="/">
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
width="48" height="48"
viewBox="0 0 171 171"
    style=" fill:#000000;">
    <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,171.99219v-171.99219h171.99219v171.99219z" fill="none"></path><g fill="#cccccc"><path d="M85.17938,3.42c-0.37406,0.05344 -0.73477,0.16031 -1.06875,0.32063l-67.65187,29.07c-1.38937,0.24047 -2.48484,1.29586 -2.77875,2.67188c0,0.0668 0,0.14695 0,0.21375c-0.13359,0.60117 -0.09352,1.22906 0.10688,1.81688l4.275,66.58313c0.05344,1.01531 0.5611,1.96383 1.38937,2.565l25.32938,18.3825c-0.41414,2.01727 -0.74813,4.03453 -0.74813,6.19875c0,20.29289 18.89016,36.3375 41.4675,36.3375c22.57735,0 41.36063,-16.04461 41.36063,-36.3375c0,-2.11078 -0.34734,-4.11469 -0.74813,-6.09188l25.43625,-18.48937c0.82828,-0.60117 1.33594,-1.54969 1.38938,-2.565l4.38188,-67.33125c0.01336,-0.21375 0.01336,-0.4275 0,-0.64125c0,-0.04008 0,-0.0668 0,-0.10688c0,-0.0668 0,-0.14695 0,-0.21375c0,-0.04008 0,-0.0668 0,-0.10688c-0.12023,-0.64125 -0.41414,-1.22906 -0.855,-1.71c0,-0.04008 0,-0.0668 0,-0.10688c-0.33398,-0.32062 -0.73477,-0.58781 -1.17562,-0.74812l-68.4,-29.39062c-0.53437,-0.25383 -1.12219,-0.3607 -1.71,-0.32063zM85.5,10.58063l60.81187,26.0775l-60.81187,34.6275l-60.81187,-34.6275zM85.28625,18.3825c-0.14695,0.02672 -0.2939,0.0668 -0.4275,0.10687c-0.25383,0.04008 -0.50765,0.12023 -0.74813,0.21375l-36.87188,15.92437c-1.17562,0.52102 -1.96383,1.65656 -2.03062,2.95242c-0.0668,1.2825 0.58781,2.4982 1.71,3.13945l36.87187,21.05438c1.05539,0.61453 2.36461,0.61453 3.42,0l36.87188,-21.05437c1.12219,-0.64125 1.7768,-1.85695 1.71,-3.13945c-0.0668,-1.29586 -0.855,-2.4314 -2.03062,-2.95242l-36.87188,-15.92437c-0.40078,-0.18703 -0.84164,-0.2939 -1.2825,-0.32062c-0.10688,0 -0.21375,0 -0.32063,0zM85.5,25.65l29.28375,12.50438l-17.31375,9.8325l-7.2675,-4.275l3.42,-6.51937c0.34735,-0.61453 0.28055,-1.37602 -0.17367,-1.92375c-0.45422,-0.54773 -1.18898,-0.76148 -1.85695,-0.53437l-5.02313,1.71l3.09938,-3.63375c0.48094,-0.60117 0.4943,-1.44281 0.05344,-2.0707c-0.45422,-0.61453 -1.25578,-0.86836 -1.97719,-0.60117l-10.90125,4.48875l3.52688,-3.31312c0.37406,-0.37406 0.54773,-0.89508 0.4943,-1.41609c-0.0668,-0.52102 -0.3607,-0.9886 -0.81492,-1.25578l-0.64125,-0.4275zM75.77437,29.81813l0.64125,0.4275l-8.65687,8.22938c-0.7214,0.53437 -0.90844,1.52297 -0.4275,2.28445c0.48094,0.74813 1.45617,1.01531 2.24438,0.60117l12.93187,-5.34375l-2.67187,3.09938c-0.61453,0.57445 -0.70805,1.52297 -0.22711,2.21766c0.48094,0.69469 1.38938,0.93515 2.15086,0.56109l6.84,-2.45812l-2.24437,4.16812c-0.41414,0.80156 -0.13359,1.7768 0.64125,2.24438l7.05375,4.06125l-8.55,4.91625l-29.28375,-16.6725zM20.84063,42.3225l61.23938,34.84125v66.58313l-57.285,-41.68125zM150.15937,42.3225l-3.95437,59.74313l-57.285,41.68125v-66.58312zM31.42125,57.07125c-1.80352,0.22711 -3.12609,1.81688 -2.9925,3.63375l2.67188,36.765c0.05344,1.01531 0.5611,1.96383 1.38938,2.565l36.23062,25.86375c1.04203,0.77485 2.43141,0.88172 3.58031,0.29391c1.16227,-0.58781 1.88367,-1.7768 1.87031,-3.07266l-0.855,-39.11625c0,-1.17562 -0.61453,-2.25773 -1.60312,-2.88563l-38.0475,-23.61937c-0.68133,-0.40078 -1.46953,-0.54773 -2.24437,-0.4275zM136.58625,57.07125c-0.45422,0.09352 -0.89508,0.26719 -1.2825,0.53437l-37.62,22.87125c-0.98859,0.62789 -1.60313,1.71 -1.60313,2.88563l-0.74813,38.68875c-0.05344,1.30922 0.65461,2.53828 1.81687,3.15281c1.16227,0.61453 2.57836,0.52102 3.63375,-0.26719l35.37563,-24.795c0.86836,-0.58781 1.4161,-1.52297 1.49625,-2.565l2.77875,-36.765c0.09352,-0.97523 -0.24047,-1.95047 -0.9218,-2.67187c-0.66797,-0.70805 -1.61648,-1.10883 -2.60508,-1.06875c-0.10687,0 -0.21375,0 -0.32062,0zM35.80313,66.90375l30.67312,19.13062l0.74813,30.3525l-29.39062,-20.9475zM133.05937,67.01063l-2.1375,28.53562l-28.6425,19.87875l0.53437,-30.03187zM50.97938,129.63938l32.49,23.61937c1.20235,0.89508 2.85891,0.89508 4.06125,0l32.38312,-23.61937c0.04008,0.53437 0.10688,1.06875 0.10688,1.60313c0,16.03125 -15.14953,29.4975 -34.52062,29.4975c-19.37109,0 -34.6275,-13.46625 -34.6275,-29.4975c0,-0.54773 0.0668,-1.06875 0.10687,-1.60313z"></path></g>
    </g>
        </svg>  
        Sparks Online
      </a>
    </nav > 
    <!-- Page Content -->
    <div class="container-fluid">
      <!-- Aside Bar -->
      <div class="row">
        <nav id="sidebarMenu" class="col-md-4 col-lg-3 d-md-block sidebar collapse">
          <div class="sidebar-sticky pt-3">
            <div class="profile-div text-center">
              <img src="https://images.unsplash.com/photo-1584119164246-461d43e9bab3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="" class="profile-pic">
              <h2>Browse</h2>
            </div>
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="/">
                  Intro 
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  About
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  Portfolio
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  Blog
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  Contact Us
                </a>
              </li>
            </ul>
          </div>
        </nav>
       <!-- Right Main Section -->
        <main role="main" class="col-md-8 ml-sm-auto col-lg-9 ">
          <section class="first ">
            <div class="welcome-msg">
                <h1 class="greeting">
                  Welcome To Sparks Online!
                </h1>
                <p><small> The Home Of Unrestrained Innovative Ideas</small></p>
            </div>
          </section>
          <!-- About Us -->
          <section>
            <h3>
              Who are we?
            </h3>
            <p>
              We're a Secret Organization which specializes in Special Intelligence, Kidding...
            </p>
            <p>
              Founded in 2020, We are a Digital Creative and Innovation Organization. <br>
              With both unmatched talent and potential within our Developers, We boast In Our Ability to craft Exceptionally beautiful, Modern yet functional Websites for businesses like yours. 
            </p>
            <p>
              We specialize in building bridges that connects the worlds of design and 
            </p>
          </section>
          <!-- Services and Portfolio -->
          <section>
            <h3> Services </h3>
            <div class="services">
              <ul>
                <li> Web Design & Development </li>
                <li> Hosting &/ Maintainance </li>
                <li> Digital Marketing & Social Media </li>
              </ul>
            </div>
            <h3>Portfolio</h3>
            <!-- Embeded sites -->
            <div class="portfolio row">
              <div>
                <embed src="https://henryjavangwe.github.io/mavenproject101/index.html" type="">
                <div>
                  <a href="https://henryjavangwe.github.io/mavenproject101/index.html" target="_blank">
                    View                
                  </a>
                </div>
              </div>
              <div>
                <embed src="https://henryjavangwe.github.io/particle.js/" type="">
                <div>
                  <a href="https://henryjavangwe.github.io/particle.js/" target="_blank">
                    View
                  </a>
                </div>
              </div>
            </div>
          </section>
          <!-- Blog -->
          <section>
          <h3>Blog</h3>
          <small>What interests us </small>
          <div class="blog-Posts py-51">
            <!-- carousel - blog - posts -->
            <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="card bg-dark text-dark">
                    <img src="https://images.unsplash.com/photo-1565229284535-2cbbe3049123?ixlib=rb-1.2.1&auto=format&fit=crop&w=701&q=80" class="d-block w-100" alt="...">
                    <div class="card-img-overlay">
                      <h5 class="card-title">The Vast World of Code</h5>
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <p class="card-text">Last updated 3 mins ago</p>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="card bg-dark text-dark">
                    <img src="https://images.unsplash.com/photo-1541185933-ef5d8ed016c2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" class="d-block w-100" alt="...">
                    <div class="card-img-overlay">
                      <h5 class="card-title">Connecting Worlds Through Technology</h5>
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <p class="card-text">Last updated 3 mins ago</p>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="card bg-dark text-dark">
                    <img src="https://images.unsplash.com/photo-1565374391015-af899382f2a6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" class="d-block w-100" alt="...">
                    <div class="card-img-overlay">
                      <h5 class="card-title">Connecting Worlds Through Technology</h5>
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <p class="card-text">Last updated 3 mins ago</p>
                    </div>
                  </div>
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
          </section>
          <!-- Contact Us -->
          <section class="py-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="main-title">
                            <h2 class="regular"><strong>Sparks Online</strong></h2>
                        </div>
                        <div class="main-title-content">
                            <p class="mb-3"><strong>Address:</strong></p>
                            <p class="mb-4">26 Blaauwberg Rd, Table View, Cape Town, 7441, South Africa</p>
                            <p class="mb-3"><strong>Say hello:</strong></p>
                            <p><a href="mailto:henrysparks1@gmail.com" class="link">henrysparks1@gmail.com</a></p>
                            <p>Or call Us directly on <a href="tel:+27 74 622 8127" class="num-link"><strong>+27 74 622 8127 </strong></a></p>
                        </div>
                        <div class="col align-self-center">
                            <div class="social-media">
                                <ul class class="ul-top-footer" >
                                    <li>
                                        <a href="https://www.facebook.com/profile.php?id=100008808461940" target="_blank" class="d-flex ">
                                            <img src="./assets/img/facebook.svg" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://twitter.com/henry_sparks_" target="_blank" class="d-flex">
                                            <img src="./assets/img/twitter.svg" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/baki.sparks/" target="_blank" class="d-flex">
                                            <img src="./assets/img/instagram.svg" alt="">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="bg-light-blue inquiry-form mb-5">
                            <div class="main-title-content mb-5">
                                <p class="mb-3"><strong>Send Us an enquiry </strong></p>
                                <p>Schedule a call and we’ll get back to you within 24 hours. </p>
                            </div>
                            <form id="frmcontactus" name="frmcontactus" method="post" class="form-error" >
                                <div class="form-group">
                                    <input type="text" name="fname" id="fname" class="form-control" placeholder="Your name" data-rule-required="true" data-msg-required="Please enter Your name">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="surname" id="surname" class="form-control" placeholder="Your surname" data-rule-required="true" data-msg-required="Please enter Your surname">
                                </div>
                                <div class="form-group">
                                    <input type="email" name="email" id="email" class="form-control" placeholder="Your email address" data-rule-required="true" data-rule-email="true" data-msg-required="Please enter your email address" data-msg-email="Please enter a valid email address" autocapitalize="none" autocomplete="off">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="contact-number" id="contact-number" class="form-control" placeholder="Your contact number" data-rule-required="true" data-rule-number="true" data-msg-required="Please enter Your contact number" data-msg-number="Please enter valid contact Number">
                                </div>
                                <div class="form-group">
                                    <textarea name="query" id="query" class="form-control" rows="5" cols="1" placeholder="Your query" data-rule-required="true" data-msg-required="Please enter Your query"></textarea>
                                </div>
                                <button type="button" class="button-send-enquiry " onclick="">Send enquiry </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        </main>
      </div>
    </div>
    <!--Scripts-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>

<!-- <div id="carouselExampleFade" class="carousel slide carousel-fade col-lg-6 col-sm-12 col-md-12" data-ride="carousel">
                  <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                  </ol>
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img src="https://images.unsplash.com/photo-1589561253898-768105ca91a8?ixlib=rb-1.2.1&auto=format&fit=crop&w=1049&q=80" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="https://images.unsplash.com/photo-1522542550221-31fd19575a2d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="https://images.unsplash.com/photo-1550645612-83f5d594b671?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="...">
                    </div>
                    
                  </div>
                  <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div> -->
            